
<!-- app/views/home/index.html.erb -->

<!-- Your other content goes here -->

<!--<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %></p>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  
  <!-- Other content for authenticated users 
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>--!>